

* {
    
    box-sizing: border-box;
    color: white;
    font-family: "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
/* 로고 검색하기, 장바구니*/

.container {
    background-color: black;
}

.header-align {
    background-color: black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}


.logo {
    width: 100px;
    
}
/* 버튼 */
.btn-submit {
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 50px;
    width: 300px;
    margin-left: 50px;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

/* 비디오 */
.section-video {
    width: 1000px;
    margin: auto;
}

.section-content {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    background-color: black;
    
}

/* 출시일 공개*/
.section-content > hr {
    width: 400px;
    
}

.section-content > span {
    font-size: small;
    color: ghostwhite;
    color: gray;
    background-color: black;
}


.section-align {
    background-color: black;
}


/* section 2 */

.section-2-align > ul {
    background-color: #313030;
}

.list-menu {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: black;  
    align-items: center;
    justify-content: center;
    
    
}


.list-menu > a {
    width: 150px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
}

.list-menu > a > li {
    height: 100px;

    border-right: none ;
}


/* section 3*/
.section-3 {
    height: 300px;
}


/* footer */


.list-box {
    font-size: small;

}

/* 도움이 필요하신가요? */

.footer-align  {
    background-color: white;
}

.help-box > a {
    background-color: white;
}

.help-box {
    color: black;
    font-size: 20px;
    height: 100px;
    width: 800px;
    margin: 0 auto;
    line-height: 100px;
    background-color: white;
}


.list-box > li {
    list-style: none;
    color: #808080;

    
}

.footer-list {
    padding: 20px;
    color: grey;
    background-color: #f5f5f7;
}

.list-box-hr {
    margin: 10px 0px 10px 0;

}

.ul-align {
    width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #0071e3;
    font-weight: bold;
}

