* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro KR, SF Pro Display, SF Pro Icons, AOS Icons, Apple Gothic, HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h2 {
    background-color: rgba(0,0,0,0.8);
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
}
.container {
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid #d2d6dc;
    padding: 30px;
}

header>h1 {
    text-align: center;
    margin: 30px 0 30px 0;
    font-size: 50px;
}

form {
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.align {
    margin: 0 auto;
}

input,
.button-login>button {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid;
}

#id,
#password {
    text-indent: 10px;
}

#submit {
    background-color: #0071e3;
    color: white;
    border: none;
    font-size: 15px;
}

.button-login {
    margin-bottom: 30px;
}

.button-login>button {
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-evenly;
    margin: 0 auto;
    font-weight: 800;
}

img {
    width: 50px;

}

.button-login>.btn-kakao {
    background-color: rgb(254, 229, 0);
    border: none;

}

.button-login>.btn-git {
    box-shadow: 0 1px 1px rgba(27,31,35,0.1);
    color: white;
    border: none;
    background-color: #24292e;
}

.login-write {
    margin: 0 auto;
}

.text-id {
    margin-bottom: 30px;
    width: 100%;
}

.item-center {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}

.item-center>span {
    margin: 0 5px 0 5px;
}

.flex-1 {
    width: 50%;
    border-top: 2px solid gray;

}

a {
    text-decoration: none;
    color: #0071e3;
    font-weight: bold;

}

.login-pw-wirte {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 50px;
}


.list-box {
    font-size: small;
}

.help-box {
    font-size: 20px;
    height: 100px;
    width: 800px;
    margin: 0 auto;
    line-height: 100px;
}

li {
    list-style: none;
}

.footer-list {
    padding: 20px;
    color: grey;
    background-color: #f5f5f7;
}

.list-box-hr {
    margin: 10px 0px 10px 0;

}

.ul-align {
    width: 800px;
    margin: 0 auto;
}