node_modules/**
**/node_modules
**/package-lock.json

/.settings/
/build/
/src/bean


WebContent/css/*.css
WebContent/images

WebContent/js/*.js
WebContent/login

WebContent/META-INF

WebContent/*.jsp
.classPath
.project